.autocomplete-parent {
    position: relative;
}

.autocomplete-list {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    list-style: none;
    padding: 5px 10px;
}

.autocomplete-list li {
    cursor: pointer;
}

.autocomplete-list li:hover {
    background-color: #dddddd;
}