body {
    margin: 0;
    padding: 0;
}
.main-block {
    border: 0.5mm solid #000000;
    width: 190mm;
}
.left-block {
    float: left;
    font-size: 14pt;
    padding-top: 15mm;
    text-align: center;
    width: 40mm;
}
.qr-code-width {
    width: 38mm;
}
.right-block {
    border-left: 0.5mm solid #000000;
    float: left;
    width: 149mm;
}
.right-block-line {
    font-size: 9pt;
    border-bottom: 0.5mm solid #000000;
    width: 149mm;
    min-height: 4mm;
}
.text-center {
    text-align: center;
}
.sum-text {
    font-size: 11pt;
    border-bottom: 0.5mm solid #000000;
    font-weight: 600;
    text-align: center;
    width: 149mm;
    min-height: 5mm;
}
.line-bottom-padding {
    padding-bottom: 1.2mm;
}
.line-top-margin {
    margin-top: 1.2mm;
}
.small-text-size {
    font-size: 8pt;
}
.clearfix {
    clear: both
}
.float-left {
    float: left;
}
.margin-left {
    margin-left: 2mm;
}
.left-half-width {
    width: 72mm;
}
.right-half-width {
    width: 72mm;
}
.font-weight-bold {
    font-weight: 600;
}