RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

# if $showScriptName is false in UrlManager, do not allow accessing URLs with script name
#RewriteRule ^index.php/ - [L,R=404]